@media (max-width: 375px) {
body {
    background-color: #1E201E;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

.header {
    background-color: #39A900;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}


.header {
    text-align: center;
}

.level {
    font-weight: bold;
}

.buttons {
    display: flex;
    flex-direction: column;
   border-radius: 30px;
   padding: 30px;
    margin-top: 30px;
    
    
}

.btn {
    background-color: #007832;
    color: white;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-top: 10%;
}

.btn::before {
    content: attr(data-icon);
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
}
}